#contac{
    position: relative;
    width: 50%;
    height:100px;
    padding: 12px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
#rows{
    color: mediumblue;
    font-weight: 1500;
    text-transform: uppercase;
   
}