.footer-bottom{
    background-color: rgb(6, 6, 114);
    color: whitesmoke;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top:20px;
    width: 100%;
}