body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://bit.ly/2U1hCzg);
    background-size: cover;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: rgb(6, 6, 114);
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:first-child:hover {
    background-color: rgb(6, 6, 114);
    color: white;
}

.topnav a:first-child {
    padding: 5px;
    height: 80px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
}

.logo {
    text-align: center;
    font-family: 'Bitter', serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

table {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

th {
    padding: 5px;
}

td {
    font-size: large;
    padding: 5px;
    text-align: right;
    font-family: 'Abel', sans-serif;
}

span {
    color: red;
}

#mandatory {
    text-align: center;
    font-style: italic;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://bit.ly/2U1hCzg);
    background-size: cover;
    color: white;
}

.footer-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(6, 6, 114);
    color: white;
    text-align: center;
    height: 50px;
}