header{
    margin:0;
    padding:0;
    font-family:Arial;
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    padding:10px 90px;
    box-sizing:border-box;
}
nav .logo{
    padding:5px;
    height:80px;
    float:left;
    font-size:30px;
    font-weight:bold;
    text-transform:uppercase;
    color:white;
    border: 2px solid white;
    width:fit-content;
    height:fit-content;
}
.logo{
    text-align: center;
    font-family: 'Bitter', serif;
}
nav ul{
    list-style:none;
    float:right;
    margin:0;
    padding:0;
    display:flex;
}
nav ul li a{
    line-height:80px;
    color:#fff;
    padding:12px 30px;
    text-decoration:none;
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
}
nav ul li a{
    line-height:80px;
    color:#fff;
    padding:12px 30px;
    text-decoration:none;
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
}
nav ul li a.active{
    background:#e2472f;
    color:#fff;
    border-radius:6px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://bit.ly/2U1hCzg);
    height:100vh;
    background-size: cover;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}
.welcome-text{
    position:absolute;
    width:600px;
    height:300px;
    margin:20% 30%;
    text-align:center;
}
.welcome-text h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color:#fff;
    text-transform:uppercase;
    font-size:60px;
}
.welcome-text a{
    border: 1px solid #fff;
    padding:10px 25px;
    text-decoration: none;
    text-transform:uppercase;
    font-size:14px;
    margin-top:20px;
    display:inline-block;
    color:#fff;
}
.welcome-text a:hover{
    background:#fff;
    color:#333;
}