body{
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("./imgs/houston-ray-zFDBa0ot2RA-unsplash.jpg");
    background-attachment: fixed;
    font-size: 35px;
    background-position: center;
    background-size: cover;
    /* overflow-y: scroll;
    overflow-x: hidden;
} */
}
.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20px;
}
.nav a{
    text-decoration: none;
    font-size: 30px;
    font-family: verdana;
    font-weight: bold;
    height: 50px;
    margin: 5px;
    display: inline-block;
    float: left;
    background-color: black;
    color: white;
    line-height: 50px;
    text-align: center;
    transition: 300ms;
}
a.active{
    background-color: whitesmoke;
    color: black;
}
a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
}
.a{
    width: 95%;
}
.b{
    width: 85%;
}
.c{
    width: 80%;
}
.d{
    width:75% ;
}
h1{
    color: red;
    font-size: 35px;
    text-align: center;
}
h2{
    color:white;
    font-size: 45px;
    text-align: center;
}
p{
    font-size: 20pxpx;
    color:RGB(0, 255, 0);
    font-weight: bold;   
}
img1{
    float:right;

}
#img2{
    width:700px;
    height: 300px;
}

contact title.h2{
    font-size: 18px;
}
form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: #fff;
    font-size: 20px;
    margin-bottom: 22px;
}
input{
height: 50px;
}
form.submit{
    background: #3722;
    border-color: transparent;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top:20px;
}
form.submit:hover{
    background-color: tomato;
    cursor: pointer;
}
.footer{
    width: 100%;
    background-color:black;
    padding: 16px 10px;
}
.footer p{
    text-align: center;
    color: teal;
}
section{
    display: -webkit-flex;
    display: flex;
  }
 #sec{
    display: -webkit-flex;
    display: flex;
    background-color: gray;
     padding: 20px;
  }
/* #sec p{
    font-size: large;
    word-spacing: 2px;
    color:gold;
} */
    
  article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: gray;
  padding: 20px;
  }
  art{
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    
    /* padding: 20px; */
    }
#about p{
    font-size: large;
    word-spacing: 2px;
    color:gold;


}
li{
    color:gold;
    list-style: none;
}