h1{
    color:maroon;
    font-size: 35px;
    text-align:center;
    font-style: italic;
}
h2{
    color:blue;
    font-size: 30px;

}
p{
    color:slategray;
    font-size:25px;
}
ol{
    color:slategray;
    font-size:25px; 
}