h1,h2{
    color:black;
    font-size:30px;
    text-align: center;

}
.not{
    text-align: center;
    color: blue;


}
*{
    background-color:rosybrown;
    background-size:cover;
    background-position: center;
    
    
}