body{
    text-align: center;
     background-image:url("/home/shalom/Desktop/web/web.imgs/sidney-pearce-yPMJliKzyc4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color:orangered;
  }
  p{
      font-size: 30px;
      color:whitesmoke;
  }
  h2{
      font-weight: bold;
      font-size: 45px;
  }
  label{
      font-size: 35px;
  }
  h3{
      font-size: 35px;

  }
  
















